.header {
    background: #1b242f;
    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        min-height: 56px;
    }
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        &-item {
            margin: 10px;
            font-size: 16px;
            &:first-child .header__list-link {
                font-size: 24px;
                color: #fff;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &-link {
            text-decoration: none;
            color: hsla(0, 0%, 100%, .5);
            &:hover {
                color: hsla(0, 0%, 100%, .75);
            }
        }
    }
}
