<header class="header">
    <div class="wrapper">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__list-item">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__list-link">
                Блог
              </a>
                </li>
                <li class="header__list-item">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__list-link">
                Посты
              </a>
                </li>
                <li class="header__list-item">
                    <a routerLink="/tags" routerLinkActive="active" class="header__list-link">
                Теги
              </a>
                </li>
                <li class="header__list-item">
                    <a routerLink="/author" routerLinkActive="active" class="header__list-link">
                Об авторе
              </a>
                </li>
                <li class="header__list-item">
                    <a routerLink="/your-info" routerLinkActive="active" class="header__list-link">
                Информация о тебе
              </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
