<footer class="footer">
    <div class="wrapper">
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <a href="https://vk.com/doken1331" class="footer__list-link">
                        <i class="icon-vk"></i>
                    </a>
                </li>
                <li class="footer__list-item">
                    <a href="https://github.com/Doken1331" class="footer__list-link">
                        <i class="icon-github"></i>
                    </a>
                </li>
                <li class="footer__list-item">
                    <a href="https://www.instagram.com/doken1331" class="footer__list-link">
                        <i class="icon-instagram"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
