<div class="wrapper">
    <div class="info">
        <img class="info__picture" src="assets/anon.jpg" alt="lol">
        <ul class="info__list">
            <li class="ifo__list-item">
                Твой IP: {{responseArr.query}}
            </li>
            <li class="ifo__list-item">
                Провайдер: {{responseArr.org}}
            </li>
            <li class="ifo__list-item">
                Страна: {{responseArr.country}}
            </li>
            <li class="ifo__list-item">
                Регион: {{responseArr.region}}
            </li>
            <li class="ifo__list-item">
                Город: {{responseArr.city}}
            </li>
        </ul>
    </div>
</div>
