.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 60px;
    &__list {
        list-style: none;
        padding: 0;
    }
    &__picture {
        width: 100%;
    }
}
